.m-showcase-client-container {
  width: 100%;
  padding: 20px 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include respond-to("large") {
    padding: 20px 16vw;
  }
}

.m-showcase-client-wrapper {
  flex-basis: 50%;
  @include respond-to("medium") {
    flex-basis: 33.33%;
  }
  @include respond-to("large") {
    flex-basis: 16.66%;
  }
}

.m-showcase-client-image {
  max-width: 20vw;
  display: block;
  margin: auto;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  @include respond-to("medium") {
    max-width: 10vw;
  }
  @include respond-to("large") {
    max-width: 6vw;
  }
}
