#introduction {
  margin: 30px 0 0 0;
  @include respond-to("large") {
    margin: 0px;
  }
}

.m-showcase-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @include respond-to("large") {
    padding: 0px 40px;
  }
}

.m-showcase-container-reverse {
  flex-direction: column-reverse;
  @include respond-to("large") {
    flex-direction: row;
  }
}

.m-showcase-item {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  @include respond-to("large") {
    flex-basis: 50%;
  }
}

.m-showcase-item-text {
  padding: 0px 20px;
  @include respond-to("large") {
    padding: 0px 40px;
  }
}

.m-showcase-item-text h1 {
  text-align: center;
  font-size: 22px;
  margin: 0 0 30px 0;
  @include respond-to("medium") {
    text-align: center;
    font-size: 32px;
  }
  @include respond-to("large") {
    text-align: left;
    font-size: 32px;
  }
}

.m-showcase-item-text p {
  text-align: justify;
  font-size: 0.95rem;
  @include respond-to("medium") {
    font-size: 1.2rem;
  }
  @include respond-to("large") {
    font-size: 1.3rem;
  }
}

.m-showcase-item-text  li {
  text-align: justify;
  margin: 0 0 15px 0;
  font-size: 0.95rem;
  @include respond-to("medium") {
    font-size: 1.2rem;
  }
  @include respond-to("large") {
    font-size: 1.3rem;
  }
}

.m-showcase-item-image {
  display: block;
  margin: auto;
  padding: 20px;
  width: 80vw;
  @include respond-to("large") {
    max-width: 512px;
  }
}
